<span class="js_password_change_div_close_link pull-right"><a>X</a></span>
<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: url_for(:controller => 'passwords', :action => 'update'), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
      <%= f.label :current_password, "Current Password" %>
      <%= f.password_field :current_password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", :class => "custom_button" %>
  </div>
<% end %>