<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "NoteApp" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container main_content">
  <div class="row search_bar_container">
    <%= render :partial => 'commons/top_navigation_and_search_bar' %>
  </div>
  <div class="row sub_content">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
</div>
<%= javascript_include_tag "application" %>
<script type="text/javascript">
    //execute SearchModule js on page load
    (function(){
        new SearchModule().init();
    })();
</script>
<%= content_for?(:local_scripts) ? yield(:local_scripts) : "" %>
</body>
</html>
